
    html {

      height: 100%;

    }

    body {

       height: 100%;

    }



    header {

        background-color:pink;

        padding:50px;

        font-size:20px;

        display: block;

        width: 790px;

        text-align: center;

        border: 3px solid red;

    }

    nav {

        line-height:;

        background-color:;

        width:125px;

        display: inline-block;

        vertical-align: top;

    }

    nav ul {

        list-style-type: none;

    }

    a {

        color: ;

    }

    section {

        width: 516px;

        display: inline-block;

    }

    aside {

      width: 125px;

      display: inline-block;

      vertical-align: top;

      background-color:;

      font-size: ;

    }

    aside ul {

        list-style-type: none;

    }

    footer {

        width: 790px;

        background-color: pink;

        font-size:35px;

        text-align:;

        padding:25px;

        display: block;

        border: 10px solid red;

    }

    img {
     height: 250px;
     width:  300px;

border: 3px solid red;   }

.button {
    background-color: #1A17FF;
    border:3px solid red ;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
